@import url("http://www.fontstatic.com/f=jazeera,jazeera-light");

/************************ Start Home Page ************************************/

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --first-section-color: #19283f;
  --second-section-color: #dfdfdf3d;
  --main-color: #ff3150;
  --second-color: #ffc400;
  --title-color: #1a2940;
  --paragraph-color: #a8b9c0;
  --icon-color: #00c6bf;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "jazeera", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Sakkal Majalla", sans-serif;

}

.header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header .logo img {
  width: 50px;
}

.header .logo h1 {
  color: var(--second-color);
}

.header .nav {}

.header .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header .nav ul li a {
  font-size: 22px;
  font-weight: 600;
}

.header .nav ul li a:hover {
  color: var(--second-color);
}

.header .nav ul li a.active {
  color: var(--second-color);
}

.header .sign-in form input {
  padding: 9px 20px;
  background-color: var(--second-color);
  outline: none;
  border: none;
  color: white;
  font-family: "jazeera-light";
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.3s;
}

.header .sign-in form input:hover {
  background-color: #ffc400b2;
}

.header .sign-in {
  display: none;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .header .logo {
    flex-direction: column;
  }

  .header .nav ul {
    flex-direction: column;
  }

  .header .sign-in form input {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .header .logo h1 {
    font-size: 28px;
  }
}

/* End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../Image/f732ae88-3223-4899-abb9-2a4caa091b7f-compressor.jpg");
  background-size: cover;

  position: relative;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.landing .books {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.landing .books .book-info {
  padding: 80px 100px;
  color: white;
  width: 50%;
}

.landing .books .book-info .author {}

.landing .books .book-info .description {
  line-height: 1.7;
  font-size: 20px;
}

.landing .books .btn {
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.landing .books .books-image img {
  width: 50%;
}

@media (max-width: 768px) {
  .landing {
    min-height: 80vh;
  }

  .landing .books {
    width: 100%;
    margin-top: -60px;
  }

  .landing .books .book-info {
    width: 50%;
  }

  .landing .books .book-info .title {
    font-size: 20px;
  }

  .landing .books .book-info .author {
    font-size: 18px;
  }

  .landing .books .book-info .description {
    font-size: 15px;
  }

  .landing .books .btn {
    font-size: 12px;
  }

  .landing .books .books-image {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .landing {
    min-height: 40vh;
  }

  .landing .books {
    margin-top: -20px;
  }

  .landing .books .book-info {
    width: 50%;
    padding: 30px;
  }

  .landing .books .book-info .title {
    font-size: 15px;
  }

  .landing .books .book-info .author {
    font-size: 10px;
  }

  .landing .books .book-info .description {
    font-size: 8px;
  }

  .landing .books .btn {
    font-size: 8px;
    padding: 5px 8px;
  }

  .landing .books .books-image {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .landing {
    min-height: 45vh;
  }

  .landing .books {
    margin-top: -10px;
  }

  .landing .books .book-info {
    width: 50%;
    padding: 20px;
  }

  .landing .books .book-info .title {
    font-size: 15px;
  }

  .landing .books .book-info .author {
    font-size: 10px;
  }

  .landing .books .book-info .description {
    font-size: 8px;
  }

  .landing .books .books-image {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .landing {
    min-height: 80vh;
  }

  .landing .books {
    width: 100%;
    /* margin-top: -60px; */
  }

  .landing .books .book-info {
    width: 50%;
  }

  .landing .books .book-info .title {
    font-size: 60px;
  }

  .landing .books .book-info .author {
    font-size: 40px;
  }

  .landing .books .book-info .description {
    font-size: 25px;
  }

  .landing .books .btn {
    font-size: 25px;
  }

  .landing .books .books-image {
    width: 50%;
  }
}

/* End Landing */

/* Start About */
.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about .about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about .about-content .about-title {
  font-size: 40px;
  color: var(--title-color);
}

.about .about-content .about-description {
  font-size: 18px;
  line-height: 1.8;
}

.about .about-content .btn {
  align-self: flex-end;
  background-color: transparent;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  padding: 8px 20px;
  cursor: pointer;
}

.about .about-image {}

.about .about-image img {
  width: 300px;
}

@media (max-width: 768px) {
  .about .container {
    flex-direction: column-reverse;
  }
}

/* End About */

/* Start Latest releases */

.latest-releases {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--second-section-color);
}

.latest-releases .container>h1 {
  text-align: center;
  color: var(--title-color);
}

.latest-releases .books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.latest-releases .books .book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 30px 0;
  background-color: white;
  box-shadow: 0px 10px 20px 4px #00000015;
}

.latest-releases .books .book .book-image {
  margin-bottom: 80px;
}

.latest-releases .books .book .book-image img {
  width: 150px;
  box-shadow: 0px 10px 20px 4px #00000052;
  transition-duration: 0.3s;
}

.latest-releases .books .book:hover img {
  transform: scale(110%);
}

.latest-releases .books .book .category {
  font-size: 15px;
}

.latest-releases .books .book .Evaluation {}

.latest-releases .books .book .book-title {
  font-size: 18px;
  color: var(--title-color);
}

.latest-releases .books .book .price {
  background-color: var(--title-color);
  padding: 10px 20px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

/*End Latest releases */

/* Start Blog */
.blogs {
  background-image: url(../Image/زخارف-اسلاميه-3-3.jpg);
  background-size: 200px;
  background-color: #1f2021;
  position: relative;
}

.blogs .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  opacity: 0.7;
}

.blogs .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogs .posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  position: relative;

}

.blogs .post {
  /* text-align: center; */
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
}

.blogs .post .post-image img {
  width: 100%;
}

.blogs .post .post-information {
  padding: 20px;
}

.blogs .post .post-information .post-category {
  color: white;
  font-size: 13px;
  background-color: var(--second-color);
  width: fit-content;
  padding: 5px 15px;
  margin-top: -51px;
  margin-right: -20px;
}

.blogs .post .post-information .post-title {
  color: var(--title-color);
}

.blogs .post .post-information .post-author {
  display: flex;
  gap: 10px;
  color: #6f6f72;
}

.blogs .post .post-information .post-author i {
  color: var(--second-color);
}


.blogs .post .post-information .post-info li {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #6f6f72;
}

.blogs .post .post-information .post-info .fas {
  color: var(--second-color);
}

.blogs .post .post-information .post-content {
  color: #6f6f72;

}

.blogs .post .post-information a {
  color: var(--second-color);
}

.blogs .more-blogs {
  position: relative;
  background-color: white;
  color: black;
  padding: 10px 25px;
  border-radius: 20px;
  width: fit-content;
  margin: 0px auto 30px;
}

.blogs .more-blogs::after {
  position: absolute;
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: black;
  margin-right: 5px;
  transition-duration: 0.2s;
}

.blogs .more-blogs:hover::after {
  transform: translateX(-4px);
}

@media (max-width:767px) {}

/* End Blog */

/* Start qabas releases */
.qabas-releases {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--second-section-color);
}

.qabas-releases .container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; */
  text-align: center;
}

.qabas-releases .title {
  color: var(--title-color);
  font-size: 35px;
}

.qabas-releases .type-relase {}

.qabas-releases .type-relase .type {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.qabas-releases .type-relase .type li {
  color: #949494;
  cursor: pointer;
  transition-duration: 0.3s;
}

.qabas-releases .type-relase .type li.active {
  color: black;
}

.qabas-releases .type-relase .type li:hover {
  color: black;
}

.qabas-releases .books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.qabas-releases .books .book {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition-duration: 0.7s;

}

.qabas-releases .books .book:hover {
  border: 1px solid rgb(163, 163, 163);
}

.qabas-releases .books .book-image {}

.qabas-releases .books .book-image img {
  width: 100px;
  box-shadow: 0px 10px 20px 4px #00000052;
  margin-right: 10px;
}

.qabas-releases .books .book-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.qabas-releases .books .book-info .book-type {
  font-size: 15px;
  color: #949494;
}

.qabas-releases .books .book-info .book-title {
  font-size: 20px;
}

.qabas-releases .books .book-info .book-price {
  font-weight: 100;
  /* font-family: 'jazeera-light'; */
  color: var(--second-color);
}

@media (max-width:425px) {
  .qabas-releases .type-relase .type {
    flex-direction: column;
  }

  .qabas-releases .books .book {
    margin: 0 auto;
  }

}

/* End qabas releases */

/* Start Contact-us */
.contact-us {
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-us .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-us .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-us .mail i {
  font-size: 40px;
  color: var(--second-color);

}

.contact-us .mail h1 {
  color: #1a2940;
  font-size: 24px;
}

.contact-us .mail p {
  color: #949494;
}

.contact-us .mail-form {}

.contact-us .mail-form input[type=email] {
  padding: 15px 20px;
  border: 1px solid #949494;
  width: 400px;
  outline: none;
  border-left: none;
  background-color: #eeeded;
}

.contact-us .mail-form input[type=submit] {
  padding: 16px 50px;
  background-color: var(--second-color);
  border: none;
  color: white;
  margin-right: -10px;
  cursor: pointer;
}

@media (max-width:425px) {
  .contact-us .container {
    flex-direction: column;
    text-align: center;
  }

  .contact-us .mail-form input[type=email] {
    width: 100%;
    margin-bottom: 10px;
  }

}

@media (max-width:768px) {
  .contact-us .mail {
    flex-direction: column;
  }

  .contact-us .container {
    text-align: center;
  }
}

/* End Contact-us */

/* Start Copyright */

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(63, 63, 63);
  color: white
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright {
  font-size: 15px;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.footer .social-media li {}

.footer .social-media li i {
  cursor: pointer;
}

@media (max-width:425px) {
  .footer .copyright {
    font-size: 10px;
  }

  .footer .social-media li i {
    font-size: 12px;
  }

}

/* End Copyright */


/************************ End Home Page ************************************/

/************************ Start Blogs Page ************************************/

/* Start Landing Blogs Page */


.landing-blog-page {
  height: 60vh;
  background-image: url(../Image/blog-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.landing-blog-page .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.landing-blog-page .blog-title {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -100%);
  font-size: 35px;
  color: white;
}

/* End Landing Blogs Page */

/* Start Blogs */

.blogs-page {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--second-section-color);
}

.blogs-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogs-page .category {}

.blogs-page .category ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.blogs-page .category ul li {
  color: #949494;
  position: relative;
  cursor: pointer;
  transition-duration: 0.3s;
}

.blogs-page .category ul li:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition-duration: 0.3s;
}

.blogs-page .category ul li.active {
  color: black;
}

.blogs-page .category ul li.active::after {
  width: 100%;
}

.blogs-page .category ul li:hover {
  color: black;
}

.blogs-page .category ul li:hover:after {
  width: 100%;
}

.blogs-page .blogs-page-title {
  font-size: 25px;
  font-weight: bold;
  background-color: var(--second-color);
  width: fit-content;
  padding: 10px 20px;
  color: white;
  border-radius: 30px 0 30px 30px;
  margin-bottom: 100px;
}

.blogs-page .articals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-bottom: 80px;
}

.blogs-page .articals .artical {
  width: 250px;
  cursor: pointer;
  background-color: white;
  transition-duration: 0.3s;
}

.blogs-page .articals .artical:hover {
  box-shadow: 0px 10px 20px 4px #00000015;

}

.blogs-page .articals .artical img {
  width: 100%;

}

.blogs-page .articals .artical .artical-info {
  padding: 9px 20px;

}

.blogs-page .articals .artical .artical-category {
  font-size: 12px;
  background-color: #ffc400;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  margin-top: -40px;
  margin-right: -20px;
  position: relative;
}

.blogs-page .articals .artical .artical-title {
  font-size: 25px;
}

.blogs-page .articals .artical .artical-author {
  color: var(--second-color);
  font-size: 13px;
}

.blogs-page .articals .artical .artical-date {
  color: #6f6f72;
  font-size: 12px;
}

.blogs-page .more {
  padding: 8px 100px;
  background-color: var(--second-color);
  color: white;
  width: fit-content;
  align-self: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.blogs-page .more:hover {
  background-color: white;
  border: 1px solid var(--second-color);
  color: var(--second-color);
}

.blogs-page .pagination-page {
  margin-top: 50px;
}

.blogs-page .pagination-page .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.blogs-page .pagination-page li {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.3s;
}

.blogs-page .pagination-page li.active {
  background-color: var(--second-color);
  color: white;
}

.blogs-page .pagination-page li:hover {
  background-color: var(--second-color);
  color: white;
}

.blogs-page .pagination-page li:first-of-type {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-size: 10px;
}

.blogs-page .pagination-page li:first-of-type:hover,
.blogs-page .pagination-page li:last-of-type:hover {
  border-color: var(--second-color);
}


.blogs-page .pagination-page li:last-of-type {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-size: 10px;
}

@media (max-width:425px) {
  .blogs-page .container {
    align-items: center;
  }
}

/* End Blogs */



/************************ End Blogs Page ************************************/


/************************ Start artical Page ************************************/

/* Start Artical Page */
.artical {
  margin-top: 50px;
  margin-bottom: 50px;
}

.artical .container {
  display: flex;
  justify-content: center;
  /* gap: 10px; */

}

.artical .artical-content {
  flex-basis: 60%;
}

.artical .artical-content .artical-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.artical .artical-content .artical-info .artical-category {
  font-size: 15px;
  background-color: #ffc400;
  color: white;
  padding: 5px 40px;
}

.artical .artical-content .artical-info .artical-date {
  color: #6f6f72;
  font-size: 15px;
}

.artical .artical-content .artical-title .title {
  font-size: 35px;
}

.artical .artical-content .artical-image {}

.artical .artical-content .artical-image img {
  width: 100%;
  margin-bottom: 80px;
}


.artical .artical-content .artical-body {
  line-height: 1.7;
}

.artical .share {
  display: flex;
  align-items: center;
  gap: 40px;
}

.artical .share .p-share {
  color: #646464;
  font-size: 15px;
}

.artical .share .social-media {
  display: flex;
  align-items: center;
  gap: 50px;
}

.artical .share .social-media a {
  color: #000;
}


.artical hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid var(--second-color);
}

.artical .artical-author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

}

.artical .artical-author img {
  width: 80px;
  border-radius: 50%;
}

.artical .artical-author .author-info .author-name {
  font-size: 20px;
}

.artical .artical-author .author-info .author-description {
  font-size: 13px;
  line-height: 1.5;
  color: #949494;
}


.artical .outher-articals {
  flex-basis: 40%;
}

.artical .outher-articals .artical {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.artical .outher-articals .artical-image img {
  width: 200px;
}

.artical .outher-articals .artical-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artical .outher-articals .artical-info .artical-category {
  font-size: 13px;
  background-color: #ffc400;
  color: white;
  padding: 5px 10px;
  width: fit-content;
  margin-top: 0;
}

.artical .outher-articals .artical-info .artical-title {
  font-size: 20px;
}

.artical .outher-articals .artical-info .artical-author {
  color: #6f6f72;
  font-size: 18px;
  margin-top: -10px;
}

.artical .outher-articals .artical-info .artical-date {
  color: #6f6f72;
  font-size: 12px;
  margin-top: -10px;
}

@media (max-width:768px) {
  .artical .outher-articals {
    display: none;
  }
}

/* End Artical Page */

/************************ End artical Page ************************************/


/************************ Start Books Release Page ************************************/

/* Start Landing Books Releases Page */

.landing-books-release-page {
  height: 60vh;
  background-image: url(../Image/release-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.landing-books-release-page .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
}

.landing-books-release-page .blog-title {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -100%);
  font-size: 35px;
  color: white;
}

/* Start Landing Books Releases Page */

.books-release {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--second-section-color);
}

.books-release .container {}

.books-release .books-release-page-title {
  font-size: 25px;
  font-weight: bold;
  background-color: var(--second-color);
  width: fit-content;
  padding: 10px 20px;
  color: white;
  border-radius: 30px 0 30px 30px;
  margin-bottom: 50px;
}

.books-release .books-filter form {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 425px) {
  .books-release {
    text-align: center;
  }

  .books-release .books-filter form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

}

.books-release .books-filter form div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.books-release .books-filter form div label {
  color: var(--second-color);
}

.books-release .books-filter form div select {
  border: 1px solid black;
  background-color: transparent;
  padding: 0px 10px;
  outline: none;
}

.books-release .books-release {
  background-color: transparent;
}

.books-release .books-release h4 span {
  color: var(--second-color);
}

.books-release .books-release .books {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.books-release .books-release .books .book {
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: white;
  /* background-color: white; */
}

.books-release .books-release .books .book:hover {
  box-shadow: 0px 10px 20px 4px #00000015;
  /* transform: translateY(-10px); */
}

.books-release .books-release .books .book img {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 180px;
  transition-duration: 0.3s;
}

.books-release .books-release .books .book:hover img {
  transform: scale(110%);
}

.books-release .books-release .books .book .book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.books-release .books-release .books .book .book-info .book-category {
  font-size: 15px;
  color: #949494;
  font-family: "jazeera-light";

}

.books-release .books-release .books .book .book-info .book-title {
  font-size: 20px;
  color: var(--title-color);
  margin-top: 01px;
  margin-bottom: 0px;
}

.books-release .books-release .books .book .book-info .book-price {
  font-size: 15px;
  color: var(--second-color);
}

.books-release .pagination-page {}

.books-release .pagination-page .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.books-release .pagination-page .pagination li {
  font-size: 20px;
  font-family: "jazeera-light";
  padding: 5px;
  color: #949494;
  cursor: pointer;
  transition-duration: 0.5s;
}

.books-release .pagination-page .pagination li:hover {
  color: black;
}

.books-release .pagination-page .pagination li.active {
  color: black;
  border-bottom: 1px solid black;
}




/************************ End Books Release Page ************************************/


/************************ Start Books Description Page ************************************/

.book-description {
  margin-top: 50px;
  margin-bottom: 100px;
}

.book-description .book-title {
  text-align: center;
  margin-bottom: 100px;
}

.book-description .container {
  display: flex;
  justify-content: center;
}

.book-description .book-detail {
  flex-basis: 70%;
}

.book-description .book-detail .book-detail {}

.book-description .book-detail .book-inforamtion {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  /* box-shadow: 3px 3px 10px 5px #0000001a; */
  margin-left: 10px;
}

.book-description .book-detail .book-inforamtion .book-image img {
  width: 300px;
}

.book-description .book-detail .book-inforamtion .book-info-share {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-description .book-detail .book-inforamtion .book-info-share .book-info {}

.book-description .book-detail .book-inforamtion .book-info-share .book-info .book-title {
  font-size: 25px;
  margin-bottom: 0;

}

.book-description .book-detail .book-inforamtion .book-info-share .book-info .book-price {
  font-size: 20px;
  margin-top: 0;
  color: var(--second-color);
}

.book-description .book-detail .book-inforamtion .book-info-share .book-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.book-description .book-detail .book-inforamtion .book-info-share .book-share p {
  font-size: 12px;
}

.book-description .book-detail .book-inforamtion .book-info-share .book-share ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.book-description .book-detail .book-inforamtion .book-info-share .book-share ul li i {
  color: #949494;
}


.book-description .outher-books {
  flex-basis: 30%;
  border-right: 1px solid #9494945d;
  padding-right: 30px;
}

.book-description .outher-books .more-of {
  font-size: 18px;
  margin-bottom: 80px;
}


.book-description .outher-books .books .book {
  display: flex;
  gap: 20px;
}

.book-description .outher-books .books .book-image {}

.book-description .outher-books .books .book-image img {
  width: 100px;
}

.book-description .outher-books .books .book-info {}

.book-description .outher-books .books .book-info h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.book-description .outher-books .books .book-info p {
  font-family: "jazeera-light";
}


.book-description .book-detail .book-des {
  margin-top: 100px;
}

.book-description .book-detail .book-des ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.book-description .book-detail .book-des ul li {
  cursor: pointer;
  color: #949494;
  position: relative;
  padding: 5px;
}

.book-description .book-detail .book-des ul li.active {
  color: black;
}

.book-description .book-detail .book-des ul li::after {
  position: absolute;
  content: "";
  background-color: black;
  height: 2px;
  width: 0%;
  right: 0;
  top: 35px;
}

.book-description .book-detail .book-des ul li.active::after {
  position: absolute;
  content: "";
  background-color: black;
  height: 2px;
  width: 125%;
  right: 0;
  top: 35px;
}

.book-description .book-detail .book-des hr {
  width: 750px;
  margin-right: 0;
}

.book-description .book-detail .book-des .tabs {
  margin-top: 30px;
  margin-left: 50px;
}

.book-description .book-detail .book-des .tabs div:not(:first-of-type) {
  display: none;
}

.book-description .book-detail .book-des .tabs div {
  box-shadow: 0px 10px 20px 4px #0000001a;
  padding: 20px;
  border-radius: 20px;
}

.book-description .book-detail .book-des .tabs div h1 {
  font-size: 18px;
}

.book-description .book-detail .book-des .tabs div p {
  font-family: "jazeera-light";
  line-height: 1.7;
}

@media (max-width:768px) {
  .book-description .book-detail .book-inforamtion {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .book-description .book-detail .book-inforamtion .book-image img {
    width: 100%;
  }

  .book-description .book-detail .book-des ul {
    flex-direction: column;
    align-items: center;
  }

  .book-description .book-detail .book-des hr {
    width: 100%;
  }

  .book-description .book-detail .book-des .tabs {
    width: 100%;
  }

  .book-description .book-detail .book-des ul li.active::after {
    width: 100%;
  }
}

/************************ End Books Description Page ************************************/





/************************ Start About Page ************************************/

/* Start Landing Books Releases Page */

.landing-about-page {
  height: 60vh;
  background-image: url(../Image/about-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.landing-about-page .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
}

.landing-about-page .blog-title {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -100%);
  font-size: 35px;
  color: white;
}

/* Start Landing Books Releases Page */

/* Start About */

.about-page {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: var(--second-section-color);
}

.about-page .container {
  display: flex;
  justify-content: center;
  gap: 80px;
  background-color: white;
  box-shadow: 0px 10px 20px 4px #00000015;
}

.about-page .image-book {}

.about-page .image-book img {
  margin-right: -15px;
}


.about-page .about-text h1 {
  color: var(--second-color);
}

.about-page .about-text p {
  color: #949494;
  line-height: 1.6;
  font-size: 16px;
}

.about-page .about-text .achivements {
  display: flex;
  align-items: center;
  gap: 80px;
}

.about-page .about-text .achivements h1 {
  color: black;
}

.about-page .about-text .achivements p {}


@media (max-width:768px) {
  .about-page .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-page .image-book img {
    width: 100%;
  }

  .about-page .about-text .achivements {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-about-page .blog-title {
    font-size: 25px;
  }
}

/* End About */

/************************ End About Page ************************************/



/************************ Start Contact Us Page ************************************/


/* Start Landing Contact Us Page */

.landing-contact-us-page {
  height: 60vh;
  background-image: url(../Image/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.landing-contact-us-page .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
}

.landing-contact-us-page .blog-title {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -100%);
  font-size: 35px;
  color: white;
}

/* End Landing Contact Us Pagee */


/* Start Contact Us Page */

.contact-us-page {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: var(--second-section-color);
}

.contact-us-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.contact-us-page .about-title {
  font-family: "jazeera-light";
  margin-bottom: 10px;
}

.contact-us-page .about-p {
  font-family: "jazeera-light";

}

.contact-us-page .head-office {
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
}

.contact-us-page .head-office .head-office-title {
  font-size: 25px;
  color: var(--second-color);
  position: relative;
  padding-bottom: 10px;
}

.contact-us-page .head-office .head-office-title::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 40px;
  height: 2px;
  background-color: var(--second-color);
}

.contact-us-page .head-office hr {
  border-color: var(--second-section-color);
}

.contact-us-page .head-office div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-us-page .head-office div i {
  font-size: 35px;
}

.contact-us-page .head-office div h4 {
  font-size: 15px;
  font-family: "jazeera-light";
}

.contact-us-page .head-office div p {
  font-size: 15px;
  color: #949494;
  font-family: "jazeera-light";

}

.contact-us-page .head-office div a {
  color: revert;
}


.contact-us-page .other-office {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width:425px) {
  .contact-us-page .other-office {
    flex-direction: column;
  }
}

.contact-us-page .other-office .office {
  background-color: white;
  padding: 20px;
  flex-basis: calc(50% - 10px);
}

.contact-us-page .other-office .office .office-title {
  font-size: 25px;
  color: var(--second-color);
  position: relative;
  padding-bottom: 10px;
}

.contact-us-page .other-office .office .office-title::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 40px;
  height: 2px;
  background-color: var(--second-color);
}

.contact-us-page .other-office .office hr {
  border-color: var(--second-section-color);
}

.contact-us-page .other-office .office div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-us-page .other-office .office div i {
  font-size: 35px;
}

.contact-us-page .other-office .office div h4 {
  font-size: 15px;
  font-family: "jazeera-light";
}

.contact-us-page .other-office .office div p {
  font-size: 15px;
  color: #949494;
  font-family: "jazeera-light";
}

.contact-us-page .other-office .office div a {
  color: revert;
}

.contact-us-page .form-contact {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
}

.contact-us-page .form-contact form {}

.contact-us-page .form-contact form h1 {
  font-family: "jazeera-light";
  margin-bottom: -10px;

}

.contact-us-page .form-contact form p {
  font-family: "jazeera-light";
  margin-bottom: 50px;
}

.contact-us-page .form-contact form .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}


.contact-us-page .form-contact form .info input {
  flex-basis: calc(50% - 20px);
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #94949467;
  transition-duration: 0.5s;
}

.contact-us-page .form-contact form .info input:focus {
  border-bottom: 1px solid black;
}

.contact-us-page .form-contact form .info input::placeholder {
  color: #949494a8;
}

.contact-us-page .form-contact form .message textarea {
  height: 150px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #9494948f;
  transition-duration: 0.5s;
}

.contact-us-page .form-contact form .message textarea:focus {
  border-bottom: 1px solid black;
}

.contact-us-page .form-contact form .message textarea::placeholder {
  color: #949494a8;
}


@media (max-width:425px) {
  .contact-us-page .form-contact form .info {
    flex-direction: column;
  }

  .contact-us-page .form-contact form .info input {
    width: 100%;

  }
}

/* End Contact Us Page */

/************************ End  Contact Us Page ************************************/